@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
.hero{
    background-image: url('img/image-hero-desktop.jpg');
    background-size: cover;
    height: 60vh;
    width: 100%;
}
.hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8rem;
}
.hero nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; /*omit the dots of ul*/
    text-decoration: none; /*omit line bottom link*/
}
.hero nav ul > li a{
    padding-left: 1rem;
    text-decoration: none; /*omit line bottom link*/
    color: aliceblue;
}
/*----------------------- T W O ------------------*/
.two {
    background-color: hsl(0, 5%, 89%);
    /* height: 90vh; */
    width: 100%; 
}
 /*---------------- B O X 1 --------------*/
.two .two-box-1{ /*small centerd box */
    width: 55%;
    height: 40vh;
    background-color: rgb(248, 248, 248);
    z-index: 3;
    margin: auto;
    margin-top: -10%;
    border-radius: 1rem;
    text-align: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.two-box-1 .two-sub-logo{
    margin-top: -13%;
}
.two-box-1 .two-text, .two-text h2, .two-text p{
    padding-top: 1.5rem;
}
.two-box-1 .two-text p{
    color: hsl(0, 0%, 48%);
}
.two-box-1 .two-btn{
    display: flex;
    justify-content: space-between;
    padding: 3rem 8rem 0;
}
.two-btn button{
    width: 9.5rem;
    height: 3.6rem;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
}
.two-btn .two-btn-1{
    background: hsl(176, 50%, 47%);
    color: #fff;
}
.two-btn .two-btn-1:hover{
    background: hsl(176, 72%, 28%);
    cursor: pointer;
}
.two-btn .two-btn-2{
    display: flex;
    color: hsl(0, 0%, 48%);
}
.two-btn .two-btn-2:hover{
    background:hsl(176, 72%, 28%) ;
    color: #fff;
    cursor: pointer;
}
.two-btn .two-btn-2 span{
    padding: 1.2rem 0.5rem;

}
 /*---------------- B O X 2 ---------------*/
 .two .two-box-2{ /*small centerd box */
    width: 55%;
    height: 35vh;
    background-color: rgb(248, 248, 248);
    z-index: 3;
    margin: auto;
    margin-top: 2%;
    border-radius: 1rem;
    text-align: left;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.two-box-2 .box-content{
    display: flex;
    justify-content: space-evenly;
}
/*-------- first way to create progress bar ----------
.two-box-2 .two-prog{
    padding: 3.5rem 0;
}
.two-box-2 progress{
    -webkit-appearance: none;
    border-radius:2rem ;
    width: 100%;    
}
::-webkit-progress-bar{
    background:hsl(0, 5%, 89%);  
}
::-webkit-progress-value{
    background: hsl(176, 50%, 47%);
} ---------------------------------------------------*/

/* --- second way progress bar with rounded edges ---*/
.two-box-2 .two-prog-container{
    padding: 3rem 0;
}
.two-box-2  .two-prog-container .two-prog progress{
    opacity: 0;
}
.two-box-2 .two-prog-container .two-prog{
    position: relative;
    display: inline-block;
    background: #eee;
    height: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.two-box-2 .two-prog-container .two-prog::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    border-radius: 0.5rem;
    background: hsl(176, 50%, 47%);
}
/*----------------------- B O X 3 --------------------*/
.two .two-box-3{ /*big centerd box */
    width: 55%;
    /* height: 90vh; */
    background-color: rgb(248, 248, 248);
    z-index: 3;
    margin: auto;
    margin-top: 2%;
    border-radius: 1rem;
    text-align: left;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.two .two-box-3 .two-box-3-text{
    padding: 1rem;
}
.two-box-3 .two-box-3-text p{
    padding: 1rem 0;
    color: hsl(0, 0%, 48%);
}
.two-box-3 .two-box-3-boxes{
    padding: 2rem;
    background: rgb(248, 248, 248);
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.25);
    /* border: 0.05rem solid hsl(0, 0%, 48%); */
    margin: 0.5rem;
}
.two-box-3 .two-box-3-boxes .two-box-3-border{
    padding: 1rem;
}
.two-box-3-boxes .two-box-3-border .box-3-heading{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.two-box-3-boxes .two-box-3-border p{
    padding: 1rem 0;
    color: hsl(0, 0%, 48%);
}
.two-box-3-boxes .two-box-3-border .box-3-btn{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0; 
}
.box-3-btn span{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 48%);
}
.box-3-btn button{
    width: 9.5rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
    background: hsl(176, 50%, 47%);
    color: #fff;
}
.box-3-btn button:hover{
    background: hsl(176, 72%, 28%);
    cursor:pointer;
}
.two-box-3-border .box-3-heading h3{
    color: hsl(176, 50%, 47%);
}

/*---------- last box is inactive--------*/

.two-box-3-boxes .box-3-btn #btn-disable{
    background: hsl(0, 0%, 48%);
}
.two-box-3 .two-box-3-boxes:last-child{
    opacity: 0.5;
}






/* ------------------- P O P  U P  M S G ---------------------*/
.popup-main-box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 50%;
    width: 55%;
    background-color: rgb(248, 248, 248);
    z-index: 3;
    margin: auto;
    margin-top: 2%;
    border-radius: 1rem;
    text-align: left;
    padding: 2rem;
}
.popup-main-box .popup-main-text{
    padding: 1rem;
}
.popup-main-box .popup-main-text p{
    padding: 1rem 0;
    color: hsl(0, 0%, 48%);
}
.popup-main-box .popup-box{
    padding: 1rem;
    background: rgb(248, 248, 248);
    border-radius: 0.5rem;
    /* box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.25); */
    border: 0.05rem solid hsl(0, 2%, 62%);
    margin: 0.5rem;
    
}
.popup-box .popup-heading{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
.popup-heading .radio-wrap{
    display: flex;
    justify-content: start;
    gap: 0.5rem;
}
.popup-box .popup-heading h3{
    color: hsl(176, 50%, 47%);
}
.popup-heading span{
    font-size: 1rem;
    font-weight: 600;
    padding-left: 0.5em;
}
.popup-box p{
    padding: 1.2rem;
}
/*------------- black heading ----------*/
.popup-box .black-heading h3{
    color: #000;
}
.black-heading span{
    color: hsl(176, 50%, 47%);
}
/*-------------disabled --------------*/
.popup-main-box .popup-box:last-child{
    opacity: 0.5;
}
.popup-box .disabled-heading h3{
    color: #000;
}
.popup-box .disabled-heading span{
    color: hsl(176, 50%, 47%);
}
/*--------------- M O R E ------------*/
.popup-box .popup-box-more{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.popup-box-more p{
    margin-top: 1.5%;
}
.popup-box-more .popup-box-more-controls{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.popup-box-more .popup-box-more-controls input[type=text]{
    width: 6rem;
    height: 3rem;
    border-radius: 2rem;
    border: 1px solid hsl(0, 2%, 62%);
    font-weight: 700;
    text-align: center;
}
.popup-box-more-controls button{
    width: 6rem;
    height: 3rem;
    border-radius: 2rem;
    background: hsl(176, 50%, 47%);
    border: 1px solid hsl(176, 50%, 47%);
    color: #fff;
    font-weight: 700;
    text-align: center;
}


/* --------------------ROUNDED B T N -------------- */
.popup-heading .btn-wrap{
    display: flex;
    gap: 1rem;
}
.popup-heading .btn-wrap button{
    margin-top: 1.5%;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    /* box-shadow: inset 0 0 0 hsl(176, 50%, 47%); */
    border: 1px solid #999;
}
.popup-heading .btn-wrap-hover button:hover{
    box-shadow: inset 0 0 0 0.2rem hsl(176, 50%, 47%);
}










































/*----------------- thanks popup msg -----------*/
/* .popup-thanks{ 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition:opacity 500ms;
    /* visibility: hidden; 
    opacity: 0;
}*/
/*.popup-thanks:target{
    visibility: visible;
    opacity: 1;
}*/
.popup{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25%;
    background: #eee;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}
.popup-thanks p{
    color: rgb(199, 199, 199);
    padding: 1.3rem;
}
.popup-thanks button{
    width: 6.5rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    font-weight: 700;
    background: hsl(176, 50%, 47%);
    color: #fff;
    cursor: pointer;
}


